@keyframes ss1 {
    0% {
        transform: translateX(-100px) translateY(-100px); 
    }
    25% {
        transform: translateX(0px) translateY(-100px);
    }
    50% {
        transform: translateX(-100px) translateY(-100px);
    }
    75% {
        transform: translateX(-200px) translateY(-100px);
    }
    100% {
        transform: translateX(-100px) translateY(-100px);
    }
}

@keyframes ss2 {
    0% {
        transform: translateX(-100px) translateY(100px);
    }
    25% {
        transform: translateX(-200px) translateY(100px);
    }
    50% {
        transform: translateX(-100px) translateY(100px);
    }
    75% {
        transform: translateX(0px) translateY(100px);
    }
    100% {
        transform: translateX(-100px) translateY(100px);
    }
}

@keyframes ss3 {
    0% {
        transform: translateX(-100px) translateY(150px); 
    }
    25% {
        transform: translateX(0px) translateY(150px);
    }
    50% {
        transform: translateX(-100px) translateY(150px);
    }
    75% {
        transform: translateX(-200px) translateY(150px);
    }
    100% {
        transform: translateX(-100px) translateY(150px);
    }
}

@keyframes ss4 {
    0% {
        transform: translateX(-100px) translateY(300px);
    }
    25% {
        transform: translateX(-200px) translateY(300px);
    }
    50% {
        transform: translateX(-100px) translateY(300px);
    }
    75% {
        transform: translateX(0px) translateY(300px);
    }
    100% {
        transform: translateX(-100px) translateY(300px);
    }
}

@keyframes ss5 {
    0% {
        transform: translateX(-100px) translateY(450px); 
    }
    25% {
        transform: translateX(0px) translateY(450px);
    }
    50% {
        transform: translateX(-100px) translateY(450px);
    }
    75% {
        transform: translateX(-200px) translateY(450px);
    }
    100% {
        transform: translateX(-100px) translateY(450px);
    }
}

@keyframes ss6 {
    0% {
        transform: translateX(-100px) translateY(600px);
    }
    25% {
        transform: translateX(-200px) translateY(600px);
    }
    50% {
        transform: translateX(-100px) translateY(600px);
    }
    75% {
        transform: translateX(0px) translateY(600px);
    }
    100% {
        transform: translateX(-100px) translateY(600px);
    }
}

.s1 {
    animation: ss1 5s linear infinite;    
    transform: translateX(-100px) translateY(-100px);
}

.s2 {
    animation: ss2 5s linear infinite;    
    transform: translateX(-100px) translateY(100px);
}

.s3 {
    animation: ss3 5s linear infinite;    
    transform: translateX(-100px) translateY(150px);
}

.s4 {
    animation: ss4 5s linear infinite;    
    transform: translateX(-100px) translateY(300px);
}

.s5 {
    animation: ss5 5s linear infinite;  
    transform: translateX(-100px) translateY(450px);
}

.s6 {
    animation: ss6 5s linear infinite;    
    transform: translateX(-100px) translateY(600px);
}


body {
    background-color: #fff;
}

.mask {
/*     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    width: 1600px;
    height: 1080px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .mask {
        width: 768px;
        height: 1080px;
    }
}

