header {
    background-color: #fff;
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    margin: 0;
    padding: 30;
    top: 0;
}

.logo {
    height: 140px;
    width: auto;    
}

body {
    background-color: #F0F3F3;
}

.s1 {
    left: 40vw;
    top: 30vh;
    position: relative;
    z-index: 0;
    margin: 0;
    padding: 0;
}

.s2 {
    opacity: 0;
    z-index: 1;
    position: absolute;
    left: 45vw;
    top: 30vh;
    margin: 0;
    padding: 0;
    width: 500px;
    height: auto;
    animation: Animat1 1s ease-out 0.3s forwards;
}

.s3 {
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 60vw;
    top: 35vh;
    margin: 0;
    padding: 0;
    width: 500px;
    height: auto;
    animation: Animat2 1s ease-out 0.4s forwards;
}

.s4 {
    opacity: 0;
    z-index: 3;
    position: absolute;
    left: 75vw;
    top: 40vh;
    margin: 0;
    padding: 0;
    width: 500px;
    height: auto;
    animation: Animat3 1s ease-out 0.5s forwards;
}

@keyframes Animat1 {
    0% {
        opacity: 0;
        transform: translateX(200px) translateY(70px) scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Animat2 {
    0% {
        opacity: 0;
        transform: translateX(150px) translateY(50px) scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Animat3 {
    0% {
        opacity: 0;
        transform: translateX(100px) translateY(30px) scale(0.1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.text1 {            
    color: #000;
    font-size: 45px;
    text-align: left;
    font-weight: 600;
    width: 450px;
    padding: 10px;
    margin: 0;
    animation: slide-in 0.5s ease-out 0.0s forwards;
    opacity: 0;
}

.text2 { 
    color: #000;
    font-size: 35px;
    text-align: left;
    width: 350px;
    padding: 10px;
    margin: 0;
    animation: slide-in 0.5s ease-out 0.15s forwards;
    opacity: 0;
}

button {
    font-family: 'Vazirmatn', sans-serif;
    background-color: #E41B41;
    color: #fff;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 35px;
    border: 2px solid #fff;
    width: 350px;
    height: 70px;
    top: 100px;
    text-align: center;
    z-index: 15;
    position: relative;
    animation: slide-in 0.5s ease-out 0.5s forwards;
    opacity: 0;
}

button:hover {
    background-color: #fff;;
    border: 2px solid #E41B41;
    color: #E41B41;
} 

.text-container {
    font-family: 'Vazirmatn', sans-serif;
    z-index: 4;
    top: 35vh;
    position: absolute;
    left: 10%;    
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
    }
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: absolute;
    top: 95vh;
    left: 0;
    right: 0;
    max-width: 80%;
    z-index: 14;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.image-grid .image {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    width: auto;
    border: 2px solid #E41B41;
    cursor: pointer;
}

.image-grid .image img {
    width: 100%;
    height: auto;
    display: block;
}

@media (max-width: 1200px) {
    .text-container {
        left: 5%;    
    }

    .text1 { 
        font-size: 40px;
        width: 350px;
    }
    
    .text2 { 
        font-size: 30px;
        width: 300px;
    }

    button {
        font-size: 30px;
        border-radius: 30px;
        width: 300px;
        height: 60px;
    }
}

@media (max-width: 768px) {

    header {
        height: 100px;
    }

    .logo {
        height: 90px;
        width: auto;        
    }

    .text1 { 
        font-size: 40px;
        width: 350px;
        padding: 0px;
        color: #000;
/*         color: #E0E0E0; */
    }
    
    .text2 { 
        font-size: 30px;
        width: 300px;
        padding: 0px;
    }

    button {
        font-size: 30px;
        border-radius: 30px;
        width: 300px;
        height: 60px;
        top: -20px;
    }

    .image-grid {
        grid-template-columns: 1fr;
        gap: 10px;
        top: 1000px;
    }

    .text-container {
        top: 150px;  
    }

    button {
        font-size: 30px;
        border-radius: 30px;
        width: 300px;
        height: 60px;
        top: 50px;
    }

    .s1 {
        left: -100px;
        top: 70vh;
        width: 600px;
        height: auto;
    }

    .s2 {        
        left: 5vw;
        top: 60vh;       
        width: 300px;
        height: auto;
        animation: Animat1_ 1s ease-out 0.5s forwards;
    }
    
    .s3 {       
        left: 25vw;
        top: 65vh;
        width: 300px;
        height: auto;
        animation: Animat2_ 1s ease-out 0.5s forwards;
    }
    
    .s4 {
        left: 45vw;
        top: 70vh;
        width: 300px;
        height: auto;
        animation: Animat3_ 1s ease-out 0.5s forwards;
    }

    @keyframes Animat1_ {
        0% {
            opacity: 0;
            transform: translateX(200px) translateY(70px) scale(0.1);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    @keyframes Animat2_ {
        0% {
            opacity: 0;
            transform: translateX(150px) translateY(50px) scale(0.1);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
    
    @keyframes Animat3_ {
        0% {
            opacity: 0;
            transform: translateX(100px) translateY(30px) scale(0.1);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }
}
