.animated-header {
    background-color: #000;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    overflow: hidden;
    transition: height 1s ease-in-out;
}

.logo-container {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s ease-in-out;
    transform-origin: center center;
}

.logo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    mask-size: 100% 100%;
    animation: maskAnimation 1s ease-in-out;
}

@keyframes maskAnimation {
    0% {
        mask-position: 0 0;
    }
    100% {
        mask-position: 0 100%;
    }
}

.second-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.th-image {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    opacity: 0;
}

.content-container {
    position: relative;
}

.text-container {
    position: absolute;
    left: 10%;
    width: 80%;
    top: 25vh;
    font-family: 'Vazirmatn', sans-serif;
}

.text-left {
    text-align: left;
    margin: 0;
}

.text1 {            
    color: #fff;
    font-size: 45px;
}
.text2 {            
    color: #aaaaaa;
    font-size: 25px;
}

.animate-text1, .animate-text2 , .animate-button, .animate-im1, .animate-im2, .animate-im3, .animate-im4, .animate-im5, .animate-im6, .animate-im7, .animate-im8, .animate-im9{
    opacity: 0;
    transform: translateY(10px);
}

.animate-text1 {
    animation: slide-in 0.5s ease-out 2.3s forwards;
}

.animate-text2 {
    animation: slide-in 0.5s ease-out 2.6s forwards;
}

.animate-button {
    animation: slide-in 0.5s ease-out 2.9s forwards;
}

.animate-im1 {
    animation: slide-in 0.5s ease-out 3.2s forwards;
}

.animate-im2 {
    animation: slide-in 0.5s ease-out 3.5s forwards;
}

.animate-im3 {
    animation: slide-in 0.5s ease-out 3.8s forwards;
}

.animate-im4 {
    animation: slide-in 0.5s ease-out 4.1s forwards;
}

.animate-im5 {
    animation: slide-in 0.5s ease-out 4.4s forwards;
}

.animate-im6 {
    animation: slide-in 0.5s ease-out 4.7s forwards;
}

.animate-im7 {
    animation: slide-in 0.5s ease-out 5.0s forwards;
}

.animate-im8 {
    animation: slide-in 0.5s ease-out 5.0s forwards;
}

.animate-im9 {
    animation: slide-in 0.5s ease-out 5.3s forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

button {
    background-color: #EDBE00;
    font-family: 'Vazirmatn', sans-serif;
    color: #000;
    border: none;
    padding: 10px 20px;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    margin: 0;
    position: absolute;
    left: 10%;
    top: 45vh;
}

button:hover {
    background-color: #000;
    color: #EDBE00;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    color: #fff;
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: calc(9/10 * 100vh);
    position: absolute;
    top: 0;
    max-width: 80%;
    z-index: 2;
    left: 10%;
    right: 10%;
    margin-left: auto;
    margin-right: auto;
}

.image-grid .image {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    width: auto;
    border: 2px solid #EDBE00;
    ;
    cursor: pointer;
}

.image-grid .image img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0px 0px 150px rgba(0, 0, 0, 0.6);
}

@media (max-width: 768px) {
    .image-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        margin-top: 20px;
        margin-top: calc(2/3 * 100vh);
    }
    .second-image {
        opacity: 0;
    }

    .th-image {
        opacity: 1;
    }

    .text1 {            
        color: #fff;
        font-size: 30px;
    }
    .text2 {            
        color: #aaaaaa;
        font-size: 20px;
    }

}
